body {
  margin: 0;
  padding: 0;
}

.header-container {
  position: relative;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header-overlay {
  position: absolute;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.header-overlay h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.header-overlay p {
  margin: 10px 0 0 0;
  font-size: 24px;
}

/* LOGIN */
.login-page {
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #222;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
}

.login-box button {
  padding: 10px 20px;
  background: #c8102e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#error {
  color: #ff8080;
}

/* COUNTERS */
.counters {
  display: flex;
  gap: 15px;
  margin: 20px;
  flex-wrap: wrap;
}

.counter {
  flex: 1;
  background: rgb(207, 129, 129);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.counter.beer {
  background: #ffe6b3;
}

/* TABS */
.tabs {
  padding: 20px;
}

.tab-buttons {
  background-color: #f0f0f0;
  border: 2px solid #333;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tab-buttons:hover {
  background-color: #e0e0e0;
}

.tabs input[type="radio"] {
  display: none;
}

#thu:checked + .tab-buttons,
#fri:checked + .tab-buttons,
#sat:checked + .tab-buttons,
#sun:checked + .tab-buttons,
#mon:checked + .tab-buttons {
  background-color: #d32f2f;
  color: white;
}

.content {
  display: none;
  padding: 30px;
  background-color: #f9f9f9;
  border: 2px solid #333;
  border-radius: 8px;
  margin-top: 20px;
}

#thu:checked ~ .tab-content #thu-content,
#fri:checked ~ .tab-content #fri-content,
#sat:checked ~ .tab-content #sat-content,
#sun:checked ~ .tab-content #sun-content,
#mon:checked ~ .tab-content #mon-content {
  display: block;
}

.tab-content .content p {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
